@model DeLavant_CourseWeb.Models.Test
@{
    ViewData["Title"] = "Редактирование теста";
}

<div class="content-70percent-width"> 
<h2>Редактирование теста</h2>

<form method="post" asp-action="Edit">
    <div asp-validation-summary="All"></div>

    <input type="hidden" name="courseId" value="@ViewBag.courseIdForTest" />
    <input type="hidden" name="testId" value="@Model.Id" />

    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <input type="text" asp-for="Name" required />
        <input type="text" asp-for="Description" required />
    </div>

<div class="under-menu">
    <a class="under-menu-item"
    asp-controller="OneOptionAnswer" 
    asp-action="Create" asp-route-testId="@Model.Id" 
    asp-route-courseId="@ViewBag.courseIdForTest">
        <img class="under-menu-item-image" src="~/icons/icon-select-one.svg" alt="">
        <span class="under-menu-item-text">викторина</span>
    </a>
    <a class="under-menu-item"
    asp-controller="ManyOptionsAnswer" 
    asp-action="Create" asp-route-testId="@Model.Id" 
    asp-route-courseId="@ViewBag.courseIdForTest">
         <img class="under-menu-item-image" src="~/icons/icon-select-multiple.svg" alt="">
        <span class="under-menu-item-text">несколько</span>
    </a>
    <a class="under-menu-item"
    asp-controller="StepSequenceAnswer" 
    asp-action="Create" asp-route-testId="@Model.Id" 
    asp-route-courseId="@ViewBag.courseIdForTest">
         <img class="under-menu-item-image" src="~/icons/icon-in-order.svg" alt="">
        <span class="under-menu-item-text">порядок</span>
    </a>
    <a class="under-menu-item">
        <img class="under-menu-item-image" src="~/icons/icon-send.svg" alt="">
        <span class="under-menu-item-text">ответ</span>
    </a>
</div>

@* Отображение вопросов включенных в тест *@
    <h3>Список вопросов:</h3>

    @foreach (var question in ViewBag.questions)
        {
            <div class="course-element">
                <!-- Вопросы перемещать нельзя -->
                <a
                    asp-controller="Lectures"
                    asp-action="Edit"
                    asp-route-courseId="@Model.Id"
                    asp-route-lectureId="@question.Id"
                    class="course-element-info">
                    <div class="course-element-name">@question.Text</div>
                    <div class="course-element-description">@question.QuestionType</div>
                </a>
                <!-- Ссылка для удаления -->
                <a
                    class="course-element-delete"
                    asp-controller="Tests"
                    asp-action="DeleteQuestion"
                    asp-route-questionId="@question.Id">
                </a>
            </div>
        }

<p></p>
@* Добавление раздела курса *@
    <a asp-controller="Course" asp-action="Edit" asp-route-id="@ViewBag.courseIdForTest">Назад</a>
    <button type="submit">Сохранить</button>
</form>
</div>