@model DeLavant_CourseWeb.Models.Test
@{
    ViewData["Title"] = "Редактирование теста";
}

<h2>Редактирование теста</h2>

<form method="post" asp-action="Edit">
    <div asp-validation-summary="All"></div>

    <input type="hidden" name="courseId" value="@ViewBag.courseIdForTest" />
    <input type="hidden" name="testId" value="@Model.Id" />

    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name">Название:</label>
        <input type="text" asp-for="Name" required />
    </div>
    <div class="form-group">
        <label asp-for="Description">Описание:</label>
        <input type="text" asp-for="Description" required />
    </div>

    <a asp-controller="OneOptionAnswer" asp-action="Create" asp-route-testId="@Model.Id" asp-route-courseId="@ViewBag.courseIdForTest">Один ответ|</a>
    <a asp-controller="ManyOptionsAnswer" asp-action="Create" asp-route-testId="@Model.Id" asp-route-courseId="@ViewBag.courseIdForTest">Несколько ответов|</a>
    <a asp-controller="StepSequenceAnswer" asp-action="Create" asp-route-testId="@Model.Id" asp-route-courseId="@ViewBag.courseIdForTest">Последовательность действий|</a>
    <a asp-controller="ExtendedResponseAnswer" asp-action="Create" asp-route-testId="@Model.Id" asp-route-courseId="@ViewBag.courseIdForTest">Развернутый ответ</a>

@* Отображение вопросов включенных в тест *@
    <h3>Список вопросов:</h3>

    @foreach (var question in ViewBag.questions)
        {
            <div class="course-element">
                <!-- Вопросы перемещать нельзя -->
                <a
                    asp-controller="Lectures"
                    asp-action="Edit"
                    asp-route-courseId="@Model.Id"
                    asp-route-lectureId="@question.Id"
                    class="course-element-info">
                    <div class="course-element-name">@question.Text</div>
                    <div class="course-element-description">@question.QuestionType</div>
                </a>
                <!-- Ссылка для удаления -->
                <a
                    class="course-element-delete"
                    asp-controller="Tests"
                    asp-action="DeleteQuestion"
                    asp-route-questionId="@question.Id">
                </a>
            </div>
        }

<p></p>
@* Добавление раздела курса *@
    <a asp-controller="Course" asp-action="Edit" asp-route-id="@ViewBag.courseIdForTest">Назад</a>
    <button type="submit">Сохранить</button>
</form>
