@model DeLavant_CourseWeb.Models.Lecture

@{
    ViewData["Title"] = Model.Name;
}

<h1>Лекция: @Model.Name</h1>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Содержание лекции</h5>
        <p class="card-text">@Model.Description</p>
        <a class="btn btn-primary" asp-action="FinishStep" asp-route-userId="@ViewBag.UserId" asp-route-courseId="@ViewBag.CourseId" asp-route-step="@(ViewBag.Step)">Далее</a>
    </div>
</div>