@model DeLavant_CourseWeb.Models.Course
@{
    ViewData["Title"] = $"{Model.Name}";
}

@{ var courseName = Model.Name.Length; 
var rows = 3; var rows2 = 0; 
if(!string.IsNullOrEmpty(Model.Description))
    { 
    var courseDescription = Model.Description.Length; 
    rows2 = courseDescription/30; 
    } 
    
}

<div class="content-70percent-width">

    <a asp-action="Index">Назад</a>

   <textarea class="autoresize course-name"
      oninput="autoResize(this)" rows="@rows"
      asp-for="Name" readonly>
    </textarea>

    <textarea class="autoresize course-description"
      oninput="autoResize(this)" rows="@rows2"
      asp-for="Description" readonly>
    </textarea>


    <a class="card-item-open" asp-action="OpenCourse" asp-route-courseId="@Model.Id">Начать курс</a>

  @if(ViewBag.Progress != null) {
    <a class="card-item-open" asp-action="ViewStep" asp-route-courseId="@Model.Id" asp-route-step="@ViewBag.Progress">Продолжить </a>
  }



</div>