@model DeLavant_CourseWeb.Models.Test

@{
    ViewData["Title"] = Model.Name;
}

<h1>Тест: @Model.Name</h1>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Прохождение теста</h5>
        <p class="card-text">@Model.Description</p>

        <form method="post" asp-action="SubmitTest" asp-route-courseId="@ViewBag.CourseId" asp-route-step="@ViewBag.Step">
            <!-- Форма для ввода ответов на вопросы -->
            <button type="submit" class="btn btn-primary">Сдать тест</button>
        </form>

        <a class="btn btn-outline-primary mt-3" asp-action="ViewStep" asp-route-courseId="@ViewBag.CourseId" asp-route-step="@(ViewBag.Step + 1)">Пропустить тест</a>
    </div>
</div>