@model DeLavant_CourseWeb.Models.Course
@{ ViewData["Title"] = "Конструктор курса"; }

<div class="header-course">
  <a asp-controller="Course" asp-action="Index" class="btn-nav back">назад</a>

  <div class="menu-border">
    <div class="menu">
      <!-- Элемент highlight перемещается под активным пунктом -->
      <div class="highlight"></div>
      <!-- Пункты меню -->
      <div class="menu-item" data-index="0">
        <span>статистика</span>
      </div>
      <div class="menu-item active" data-index="1">
        <span>редактирование</span>
      </div>
      <div class="menu-item" data-index="2">
        <span>просмотр</span>
      </div>
    </div>
  </div>
  <a asp-controller="Course" asp-action="Access" asp-route-id="@Model.Id" class="btn-nav next">настройки</a>
</div>


<div class="content-70percent-width">
  
  <form method="post" asp-action="Edit">
    
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="All"></div>
    
    @{ var courseName = Model.Name.Length; 
    var rows = 3; var rows2 = 0; 
    if(!string.IsNullOrEmpty(Model.Description))
     { 
        var courseDescription = Model.Description.Length; 
        rows2 = courseDescription/30; 
      } 
     
    }

    <textarea class="autoresize course-name"
      oninput="autoResize(this)" rows="@rows"
      asp-for="Name" required placeholder="название курса">
    </textarea>

    <textarea class="autoresize course-description"
      oninput="autoResize(this)" rows="@rows2"
      asp-for="Description" placeholder="описание курса">
    </textarea>

    @* Вывод лекций и тестов *@
    @if (Model.Lectures != null && Model.Lectures.Any()) 
    { 
        @foreach( var lecture in Model.Lectures) 
        {
        <div class="course-element">
            <a class="course-element-UD"></a>
            
            <a class="course-element-info"
               asp-controller="Lectures"
               asp-action="Edit"
               asp-route-courseId="@Model.Id"
               asp-route-lectureId="@lecture.Id" 
            >
              <div class="course-element-name">@lecture.Name</div>
              <div class="course-element-description">@lecture.Description</div>
            </a>

            <a class="course-element-delete"
                asp-controller="Lectures"
                asp-action="Delete"
                asp-route-courseId="@Model.Id"
                asp-route-lectureId="@lecture.Id"></a>
        </div>
        } 
    }

    @if (Model.Tests != null && Model.Tests.Any()) 
    {
      @foreach( var test in Model.Tests) 
      {
         <div class="course-element">
            <a class="course-element-UD"></a>
            
            <a class="course-element-info"
              asp-controller="Tests"
              asp-action="Edit"
              asp-route-courseId="@Model.Id"
              asp-route-testId="@test.Id"
            >
             <div class="course-element-name">@test.Name</div>
             <div class="course-element-description">@test.Description</div>
            </a>

            <a class="course-element-delete"
              asp-controller="Tests"
              asp-action="Delete"
              asp-route-courseId="@Model.Id"
              asp-route-testId="@test.Id"
            ></a>
          </div>
      }
    }

    @* Добавление раздела курса *@
    <div class="row-center">
      <a class="btn-img-text" asp-controller="Course"
        asp-action="AddLection" asp-route-id="@Model.Id" >
          <img class="btn-img" src="~/icons/icon-add-lecture.svg" />
          <span class="btn-text">вставить лекцию</span>
      </a>
  
      <a  class="btn-img-text" asp-controller="Course" 
        asp-action="AddTest" asp-route-id="@Model.Id" >
          <img class="btn-img" src="~/icons/icon-add-test.svg" />
          <span class="btn-text">вставить тест</span>
      </a>
    </div>

    <h3>Доступ:</h3>
    <p>@Model.AccessTag</p>
    <button type="submit">Сохранить</button>
  </form>
</div>
