@model DeLavant_CourseWeb.Models.Course
@{
    ViewData["Title"] = "Конструктор курса";
}
<a asp-controller="Course" asp-action="Index">Назад</a>
<a asp-controller="Course" asp-action="Access" asp-route-id="@Model.Id">Далее</a>

<div class="content-70percent-width">
<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="All"></div>
   
    <input type="text" asp-for="Name" required />
    <input type="text" asp-for="Description" required />

@* Добавление раздела курса *@
        <div>
            <a asp-controller="Course" asp-action="AddLection" asp-route-id="@Model.Id">Добавить лекцию</a>
        </div>
        <div>
            <a asp-controller="Course" asp-action="AddTest" asp-route-id="@Model.Id">Добавить тест</a>
        </div>
@* Вывод лекций и тестов *@
    <h3>Лекции:</h3>
    @if (Model.Lectures != null && Model.Lectures.Any()) {

            @foreach( var lecture in Model.Lectures) {
                <p>
                    <a asp-controller="Lectures" asp-action="Edit" asp-route-courseId="@Model.Id"  asp-route-lectureId="@lecture.Id">       
                        @lecture.Name|
                        @lecture.Description|
                        @lecture.FileName|
                    </a>

                   <a asp-controller="Lectures" asp-action="Delete" asp-route-courseId="@Model.Id"  asp-route-lectureId="@lecture.Id">Удалить</a>
                </p>
            }
    }

    <h3>Тесты:</h3>
    @if (Model.Tests != null && Model.Tests.Any()) {
        <p>
            @foreach( var test in Model.Tests) {
            <a asp-controller="Tests" asp-action="Edit" asp-route-courseId="@Model.Id" asp-route-testId="@test.Id">  
                @test.Name|
                @test.Description|
            </a>
            <a asp-controller="Tests" asp-action="Delete" asp-route-courseId="@Model.Id"  asp-route-testId="@test.Id">Удалить</a>

            }
        </p>
    }
    <h3>Доступ:</h3>
    <p>@Model.AccessTag</p>
    <button type="submit">Сохранить</button>

</form>

</div>


